<footer>
	<div class='container'>
		<div class='row line'>
			<div class='col-md-3 col-sm-3 col-xs-12'>
				<div class='icons-outro'>
					<i class='icon-heart'></i>
				</div>
				<p>Made in <a href='https://www.google.com/maps/place/Amberes/@51.2603015,4.2176376,11z/data=!3m1!4b1!4m5!3m4!1s0x47c3f68ebfc3887d:0x3eaf448482a88ab8!8m2!3d51.2194475!4d4.4024643'>Antwerp</a>.</p>
			</div>
			<div class='col-md-6 col-sm-6 col-xs-12'>
				<p><a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/"><img alt="Licencia de Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by-nc/4.0/80x15.png" /></a><br />Este obra está bajo una <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/">licencia de Creative Commons Reconocimiento-NoComercial 4.0 Internacional</a>.</p>
			</div>
			<div class='col-md-3 col-sm-3 col-xs-12'>
				<div class='icons-outro'>
					<a href='https://www.facebook.com/juan.a.berner'><i class='icon-facebook1 link'></i></a>
					<a href='https://mail.google.com/mail/?view=cm&fs=1&to=fugitloop@gmail.com&su=Hi&body=My name is...'><i class='icon-googleplus link'></i></a>
					<a href='https://www.linkedin.com/in/juanantoniogodoyberner/'><i class='icon-linkedin1 link'></i></a>
				</div>
				<p>Find me on social media or <a href="assets/img/cv-juangb.zip" download="cv-juangb.zip">Download CV</a></p>
			</div>
		</div>
	</div>
</footer>