<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

	<link rel='stylesheet' href='{{ site.baseurl }}/assets/fonts/stylesheet.css' type='text/css'>
	<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css">
	<link rel="stylesheet" href="{{ site.baseurl }}/assets/fonts/icomoon/style.css">
	<link rel="apple-touch-icon" sizes="180x180" href="{{ site.baseurl }}/assets/img/favicon_io/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="{{ site.baseurl }}/assets/img/favicon_io/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="{{ site.baseurl }}/assets/img/favicon_io/favicon-16x16.png">
	<link rel="manifest" href="{{ site.baseurl }}/assets/img/favicon_io/site.webmanifest">
	<script src="https://unpkg.com/scrollreveal@4.0.0/dist/scrollreveal.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/simple-parallax-js@5.2.0/dist/simpleParallax.min.js"></script>
	<script>
		ScrollReveal({ duration: 1000 })
	    ScrollReveal({ reset: true });
	</script>

	<title>gentleinsight</title>
</head>
